include _config_menu

<!-- ////////////// HEADER ////////////// -->
<!-- ////////////// GLOBAL MENU ////////////// -->
header.pos-f-t.offcanvas(class=_dataJS.config.VIENSOI_APP.HEADER_TRANPARENT ? 'has-tranparent': 'no-tranparent')
	.container-fluid
		.mainmenu.clearfix
			button.navbar-toggler.float-right.offcanvas-toggle(type='button', data-toggle='offcanvas', data-target='#VienSoiGlobalMenu', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'd-md-none' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'd-lg-none' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'd-xl-none': 'd-xs-none')
				i.fa.fa-bars
			a.navbar-brand(href='/fpt/index.html', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'd-md-none' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'd-lg-none' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'd-xl-none': 'd-xs-none')
				i(site-logo)
		nav#VienSoiGlobalMenu.navbar.navbar-light.bg-faded.navbar-offcanvas.navbar-offcanvas-touch(role='navigation', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'navbar navbar-expand-md' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'navbar navbar-expand-lg' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'navbar navbar-expand-xl': 'navbar navbar-expand-xs')
			ul#VienSoiNAV.navbar-nav.mr-auto
				li.nav-item.align-items-center.align-self-center
					a.navbar-brand(href='/fpt/index.html', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'd-none d-md-flex' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'd-none d-lg-flex' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'd-none d-xl-flex': 'd-none d-sm-flex')
						i(site-logo)
				each val, key in menu
					if (typeof(val.URL) == "object")
						if selected === val.Name
							li.nav-item.dropdown.active
								a.nav-link.dropdown-toggle.align-items-center.d-flex(href="#", title=val.Name, id="navbarDropdownMenu"+val.Name, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									img.img-fluid(src='/images/'+val.Icon, alt=val.URL.Name)
									span=val.Name
								.dropdown-menu(aria-labelledby="navbarDropdownMenu"+val.Name)
									each second_val, second_key in val.URL
										if second_val.URL.substr(0, 4) === 'http'
											a.dropdown-item(href=second_val.URL, target="_blank")=second_val.Name
										else
											a.dropdown-item(href=second_val.URL)=second_val.Name
						else
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle.align-items-center.d-flex(href="#", title=val.Name, id="navbarDropdownMenu"+val.Name, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									img.img-fluid(src='/images/'+val.Icon, alt=val.URL.Name)
									span=val.Name
								.dropdown-menu(aria-labelledby="navbarDropdownMenu"+val.Name)
									each second_val, second_key in val.URL
										if second_val.URL.substr(0, 4) === 'http'
											a.dropdown-item(href=second_val.URL, target="_blank")=second_val.Name
										else
											a.dropdown-item(href=second_val.URL)=second_val.Name
					else
						if selected === val.Name
							li.nav-item.active
								a.nav-link.align-items-center.d-flex(href=val.URL, title=val.Name)
									img.img-fluid(src='/images/'+val.Icon, alt=val.Name)
									span=val.Name
						else
							li.nav-item
								a.nav-link.align-items-center.d-flex(href=val.URL, title=val.Name)
									img.img-fluid(src='/images/'+val.Icon, alt=val.Name)
									span=val.Name
			.navbar-text.mr-md-2
				.input-group
					include search
			.navbar-text.text-md-right
				.btn-group.d-flex.flex-column
					button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| About me
					.dropdown-menu.dropdown-menu-right.mt-2.p-4.text-center
						img.img-fluid(src="/images/baonguyen.png", alt="")
						.dropdown-divider
						div
							| 0.96.96.89.89.3
							br
							| baonguyenyam@gmail.com
						//- .dropdown-divider
						//- div
							a.btn.btn-info(href="/files/portfolio.pdf", title="title") Portfolio
<!-- ////////////// HEADER ////////////// -->
